<div class="statuses">
<%= render @statuses %>
</div>
<!--
< %= link_to 'Show', status %>
< %= link_to 'Edit', edit_status_path(status) %>
< %= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
-->
<%= link_to 'New Status', new_status_path %>
