default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  # heroku - remove
  username: postgres
  #password:
  #host: localhost
  #min_messages: warning
development:
  <<: *default
  database: rollcall_development
test:
  <<: *default
  database: rollcall_test
production:
  <<: *default
  # heroku style
  # url: <%= ENV['DATABASE_URL'] %>
  database: rollcall_production
